<div class="table-container">
  <table class="centered-table">
    <tbody>
      <% foods.each_with_index do |food, index| %>
        <tr <%= "class='gray-row'" if index.odd? %>>
          <td><strong>Name:</strong></td>
          <td><%= food.name %></td>
        </tr>
        <tr <%= "class='gray-row'" if index.odd? %>>
          <td><strong>Measurement unit:</strong></td>
          <td><%= food.measurement_unit %></td>
        </tr>
        <tr <%= "class='gray-row'" if index.odd? %>>
          <td><strong>Price:</strong></td>
          <td><%= food.price %></td>
        </tr>
        <tr <%= "class='gray-row'" if index.odd? %>>
          <td><strong>Quantity:</strong></td>
          <td><%= food.quantity %></td>
        </tr>
        <tr <%= "class='gray-row'" if index.odd? %>>
          <td><strong>User:</strong></td>
          <td><%= food.user_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
